@media (min-width: 576px) {
  .container {
    padding-left: 33px;
    padding-right: 33px;
  }

  /*header*/

  .header__container {
    padding-top: 29px;
    padding-bottom: 103px;
  }

  .header__logo {
    margin-bottom: 27px;
  }

  .header__list {
    max-width: none;
    gap: 56px;
  }

  .hero__container {
    padding-top: 78px;
  }

  .hero__title {
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 50px;
  }

  .hero__paragraph {
    margin-bottom: 87px;
    font-size: 18px;
    line-height: 27px;
  }

  .hero__link {
    padding: 24px 76px;
    font-size: 18px;
    line-height: 21px;
  }

  /*benefits*/

  .benefits__container {
    padding-top: 189px;
  }

  .benefits__wrapper {
    margin-bottom: 24px;
    padding-left: 180px;
    background-image: url('../img/benefits-wrapper.png');
    background-position: left top;
    background-repeat: no-repeat;
  }

  .benefits__title {
    margin-bottom: 17px;
    font-size: 40px;
    line-height: 40px;
  }

  .benefits__paragraph {
    max-width: 315px;
    font-size: 16px;
    line-height: 24px;
  }

  .benefits__list {
    flex-direction: row;
  }

  .benefits__item {
    padding-left: 0;
    padding-top: 90px;
    background-position: top left;
    background-size: 80px 80px;
  }

  .benefits__sub-paragraph {
    max-width: 150px;
  }

  /*teachers*/

  .teachers__container {
    padding-top: 77px;
  }

  .teachers__item {
    max-width: 240px;
  }

  .teachers__title {
    font-size: 40px;
    line-height: 40px;
  }

  /*courses*/

  .courses__container {
    padding-top: 122px;
    padding-bottom: 78px;
  }

  .courses__title {
    font-size: 40px;
    line-height: 40px;
  }

  .courses__list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .courses__item {
    min-width: 240px;
  }

  .courses__item:nth-child(3) .courses__paragraph {
    max-width: 176px;
  }

  .courses__paragraph {
    max-width: 179px;
  }

  .courses__link {
    max-width: 180px;
    padding: 21px 48px;
  }

}

@media (min-width: 768px) {
  .container {
    padding-left: 39px;
    padding-right: 39px;
  }

  .header__container {
    max-height: 80px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 29px;
  }

  .header__logo {
    margin-bottom: 0;
  }

  .hero__container {
    padding-top: 130px;
    padding-bottom: 141px;
  }

  .hero__img-wrapper {
    display: block;
  }

  .benefits__container {
    padding-top: 80px;
    padding-bottom: 76px;
  }

  .benefits__wrapper {
    padding-left: 240px;
    background-size: 211px 187px;
    background-position: left center;
  }

  .benefits__paragraph {
    max-width: 436px;
  }

  .benefits__item {
    align-items: flex-start;
  }

  .benefits__sub-paragraph {
    max-width: 210px;
  }

  .teachers__container {
    padding-top: 74px;
    padding-bottom: 49px;
  }

  .teachers__item {
    max-width: 330px;
  }

  .teachers__img {
    margin-bottom: 25px;
  }

  .teachers__paragraph {
    max-width: 380px;
  }

  .courses__container {
    padding-top: 74px;
  }

  .courses__item {
    min-width: 330px;
    height: 556px;
  }

  .courses__img-wrapper {
    height: 277px;
  }



  .courses__subtitle {
    max-width: none;
  }

  .courses__paragraph {
    max-width: 276px;
  }

  .courses__link {
    max-width: 196px;
    padding: 23px 56px;
  }
}



@media (min-width:1127px) {
  .container {
    padding-left: 165px;
    padding-right: 165px;
  }

  .header__container {
    justify-content: space-between;
  }

  .hero__container {
    padding-top: 130px;
    padding-bottom: 139px;
  }

  .hero__title {
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
  }

  .hero__paragraph {
    max-width: 450px;
    font-size: 18px;
    line-height: 27px;
  }

  .benefits__container {
    align-items: flex-start;
  }

  .benefits__wrapper {
    padding-left: 190px;
    background-size: 160px 142px;
  }

  .benefits__title {
    max-width: 380px;
  }

  .benefits__paragraph {
    max-width: 585px;
  }

  .benefits__list {
    gap: 30px;
  }

  .benefits__item {
    align-items: center;
    padding-top: 0;
    padding-left: 110px;
    background-position: left center;
  }

  .benefits__item:nth-child(1) .benefits__sub-paragraph {
    max-width: 326px;
  }

  .benefits__item:nth-child(2) .benefits__sub-paragraph {
    max-width: 340px;
  }

  .benefits__item:nth-child(3) .benefits__sub-paragraph {
    max-width: 308px;
  }

  .teachers__container {
    padding-bottom: 75px;
  }

  .teachers__list {
    gap: 30px;
  }

  .teachers__paragraph {
    max-width: 254px;
  }

  .courses__item {
    min-width: 539px;
    height: 480px;
  }

  .courses__img-wrapper {
    height: 312px;
  }

  .courses__img-wrapper:nth-child(1) {
    background-image: url('../img/courses1440-1.jpg');
  }

  .courses__img-wrapper:nth-child(2) {
    background-image: url('../img/courses1440-2.jpg');
  }

  .courses__img-wrapper:nth-child(3) {
    background-image: url('../img/courses1440-3.jpg');
  }

  .courses__img-wrapper:nth-child(4) {
    background-image: url('../img/courses1440-4.jpg');
  }

  .courses__paragraph {
    max-width: 480px;
  }

  .courses__item:nth-child(3) .courses__paragraph {
    max-width: 480px;
  }

  .courses__item:nth-child(3) .courses__subtitle {
    max-width: 480px;
  }
}

@media (min-width:1400px) {

  .hero__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero__wrapper {
    padding-top: 130px;
  }

  .hero__img-wrapper {
    background-image: url('../img/hero-1440.svg');
    width: 668px;
    height: 620px;
  }

}