html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #FF9900;
  --about-us__gap: 32px;
}



.page {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  min-width: 320px;
  margin: 0 auto;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.paragraph-reset {
  margin: 0;
  padding: 0;
}

.title-reset {
  margin: 0;
  padding: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

/*header*/

.header {
  width: 100%;
}

.header__container {
  display: flex;
  position: relative;
  max-width: 1918px;
  min-height: 100px;
  align-items: center;
  margin-bottom: 49px;
  padding: 13px 73px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  color: var(--color-black);
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 23px;
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: all 0.3s ease-in-out;
}

.header__burger:focus {
  outline-color: var(--color-orange);
}

.header__burger:active {
  outline-color: transparent;
}

.header__burger:active .header__burger-line {
  background-color: #E1670E;
}

.header__burger-line {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--color-black);
  left: 0;
  top: 9px;
  transition: all 0.5s ease-in-out;
}

.header__burger-line:nth-child(1) {
  transform: translateY(-9px);
}

.header__burger-line:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger-line:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-line:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-line:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header__logo {
  margin-right: auto;
}

.header__list {
  display: flex;
  gap: 85px;
  margin-right: 286px;
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  outline: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.header__link::after {
  content: '';
  position: absolute;
  height: 2px;
  bottom: -7px;
  left: 0;
  right: 0;
  background-color: var(--color-orange);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header__link:hover::after {
  opacity: 1;
}

.header__link:focus {
  outline-offset: 5px;
  outline-color: var(--color-orange);
}

.header__link:active {
  outline-color: transparent;
  color: #E1670E;
}

.header__link:active::after {
  background-color: #E1670E;
  opacity: 1;
}

.header__search-wrapper {
  position: absolute;
  right: 74px;
  top: 24px;
  background-color: var(--color-white);
  transition: right 0.5s ease-in-out;
}

.header__search {
  position: relative;
  width: 32px;
  height: 60px;
  border-radius: 24px;
  transition: width 0.5s ease;
  overflow: hidden;
  background-color: var(--color-white);
  z-index: 5;
}

.header__search-wrapper.active {
  right: 5px;
}

.header__search-wrapper.active .header__search {
  width: 539px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
}

.header__search-wrapper.active .header__btn--close {
  right: 13px;
}

.header__search-wrapper.active .header__btn--open {
  right: 60px;
}

.header__input {
  position: absolute;
  width: 412px;
  height: 22px;
  left: 32px;
  top: 16px;
  padding-bottom: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid #CACACA;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #CACACA;
}

.header__btn--open {
  position: absolute;
  width: 32px;
  right: 0;
  top: 0;
  bottom: 0;
}

.header__btn--open svg {
  outline: 2px solid transparent;
  outline-offset: 1px;
  transition: outline 0.3s ease-in-out;
}

.header__btn--open svg rect {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

.header__btn--open svg path {
  stroke: var(--color-black);
  transition: stroke 0.3s ease-in-out;
}

.header__btn--open:hover svg rect,
.header__btn--open:focus svg rect {
  fill: var(--color-orange);
}

.header__btn--open:hover svg path,
.header__btn--open:focus svg path {
  stroke: var(--color-orange);
}

.header__btn--open:focus svg {
  outline-color: transparent;
}

.header__btn--open:active svg {
  outline-color: var(--color-orange);
}

.header__btn--close {
  position: absolute;
  top: 15px;
  right: -28px;
}

.header__btn--close svg {
  outline: 2px solid transparent;
  outline-offset: 1px;
  transition: outline 0.3s ease-in-out;
}

.header__btn--close svg rect {
  fill: #CACACA;
  transition: fill 0.3s ease-in-out;
}

.header__btn--close svg circle {
  stroke: #CACACA;
  transition: stroke 0.3s ease-in-out;
}

.header__btn--close:hover svg rect {
  fill: var(--color-orange);
}

.header__btn--close:hover svg circle {
  stroke: var(--color-orange);
}

.header__btn--close:focus svg {
  outline-color: var(--color-orange);
}

.header__btn--close:focus svg rect {
  fill: #CACACA;
}

.header__btn--close:focus svg circle {
  stroke: #CACACA;
}

.header__btn--close:active svg {
  outline-color: transparent;
}

.header__btn--close:active svg rect {
  fill: var(--color-black);
}

.header__btn--close:active svg circle {
  stroke: var(--color-black);
}








/*hero*/

.hero {
  padding: 0 15px;
}

.hero__container {
  display: flex;
  max-width: 1770px;
  margin-bottom: 50px;
  padding: 0;
  align-items: center;
}

.hero__swiper {
  position: relative;
  width: 100%;
  min-height: 620px;
  overflow: hidden;
}

.swiper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 32px;
}

.swiper-slide {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.swiper-slide:nth-child(1) {
  background-image: url('../img/hero1.png');
}

.swiper-slide:nth-child(2) {
  background-image: url('../img/hero2.png');
}

.swiper-slide:nth-child(3) {
  background-image: url('../img/hero3.png');
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 27px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #CACACA;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-white);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.hero__text {
  position: absolute;
  padding-left: 80px;
  z-index: 5;
}

.hero__title {
  max-width: 837px;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero__paragraph {
  max-width: 790px;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.hero__btn {
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #FFFFFF;
  background-color: var(--color-orange);
  border-radius: 16px;
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #FFB84D;
}

.hero__btn:active {
  background-color: #E1670E;
}

/*about us*/

.about-us {
  padding: 0 15px;
}

.about-us__container {
  display: flex;
  padding: 0;
  max-width: 1770px;
  margin-bottom: 100px;
  flex-direction: column;
}

.main-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black)
}

.about-us__title {
  margin-bottom: 20px;
  max-width: 141px;
}

.about-us__paragraph {
  margin-bottom: 50px;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black)
}

.about-us__cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--about-us__gap);
  --offsets: 1;
}

.about-us__card {
  width: calc((100% - (var(--about-us__gap) * var(--offsets))) / (var(--offsets) + 1));
}


.about-us__card--big {
  display: flex;
  min-height: 622px;
  align-items: flex-end;
  background-image: url(../img/about-us-big.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 32px;
}

.about-us__wrapper--big {
  display: flex;
  width: 100%;
  max-height: 196px;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px 53px 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about-us__paragraph--big {
  max-width: 433px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.about-us__link {
  padding: 17px 39px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  outline: 3px solid var(--color-orange);
  border-radius: 16px;
}



.about-us__link:hover {
  background-color: var(--color-orange);
}

.about-us__link:focus {
  background-color: var(--color-orange);
}

.about-us__link:active {
  background-color: #E1670E;
  outline-color: #E1670E;
}


.about-us__cards--small {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-us__card--small {
  display: flex;
  padding: 64px 115px 65px 60px;
  min-height: 295px;
  border: 1px solid #CACACA;
  border-radius: 32px;
}

.about-us__wrapper--second {
  background-image: url('../img/about-us-small1.svg');
}

.about-us__wrapper--third {
  background-image: url('../img/about-us-small2.svg');
}

.about-us__wrapper--small {
  padding-left: 239px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 190px 165px;
}

.about-us__subtitle {
  max-width: 600px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.about-us__paragraph--small {
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

/*working*/

.working__container {
  display: flex;
  margin-bottom: 112px;
  flex-direction: column;
}

.working__title {
  margin-bottom: 50px;
  max-width: 430px;
}

.working__list {
  display: flex;
  margin-bottom: 45px;
  gap: 85px;
}

.working__btn {
  max-width: 53px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.working__btn:hover {
  color: var(--color-orange);
}

.working__btn:focus {
  outline-offset: 5px;
  outline-color: var(--color-orange);
}

.working__btn:active {
  outline-color: transparent;
  color: #E1670E;
}

.working__wrapper {
  display: flex;
  justify-content: space-between;
}

.working__img {
  margin-top: 9px;
  width: 870px;
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 32px;
}

.working__fisrt-img {
  background-image: url('../img/working-first.png');
}

.working__second-img {
  background-image: url('../img/working-second.png');
}

.working__third-img {
  background-image: url('../img/working-third.png');
}

.working__fourth-img {
  background-image: url('../img/working-fourth.png');
}

.working__subtitle {
  margin-bottom: 8px;
  max-width: 331px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
}

.working__paragraph {
  max-width: 708px;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}

.working__links {
  display: flex;
  gap: 32px;
}

.working__link--orange,
.working__link--white {
  padding: 20px 38px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 16px;
}

.working__link--orange {
  font-weight: 700;
  color: #FFFFFF;
  background-color: var(--color-orange);
}



.working__link--orange:hover,
.working__link--orange:focus {
  background-color: #FFB84D;
}

.working__link--orange:active {
  background-color: #E1670E;
}

.working__link--white {
  font-weight: 400;
  color: var(--color-black);
  outline: 1px solid var(--color-black);
}

.working__link--white:hover,
.working__link--white:focus,
.working__link--white:active {
  outline: none;
  color: var(--color-white);
}

.working__link--white:hover,
.working__link--white:focus {
  background-color: #666;
}

.working__link--white:active {
  background-color: var(--color-black);
}

.hidden {
  display: none;
}


/*questions*/

.questions__container {
  margin-bottom: 100px;
}

.questions__title {
  margin-bottom: 32px;
  max-width: 693px;
}

/*accordeon*/

.ac {
  margin-top: 0;
  border: none;
}

.ac .ac-trigger::after {
  content: none;
}

.questions__list {
  display: flex;
  flex-direction: column;
}

.questions__item {
  position: relative;
}

.questions__item::before,
.questions__item::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #CACACA;
  transition: background-color 0.3s ease-in-out;
}

.questions__item::before {
  top: -1px;
}

.questions__item::after {
  bottom: 0;
}

.questions__item:hover::before,
.questions__item:hover::after {
  background-color: var(--color-orange);
  z-index: 5;
}

.questions__item:focus::before,
.questions__item:focus::after {
  background-color: var(--color-orange);
  z-index: 5;
}

.questions__list .questions__btn {
  display: flex;
  width: 100%;
  padding: 30px 0 32px 0;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.is-active .questions__btn {
  padding-bottom: 0;
}

.questions__btn svg {
  transition: transform 0.5s ease-in-out;
}

.questions__btn svg path {
  fill: black;
  transition: fill 0.3s ease-in-out;
}

.questions__btn svg ellipse {
  fill: #CACACA;
  transition: fill 0.3s ease-in-out;
}

.questions__btn:hover svg path {
  fill: var(--color-white);
}

.questions__btn:hover svg ellipse {
  fill: var(--color-orange)
}

.questions__btn:focus svg path {
  fill: var(--color-white);
}

.questions__btn:focus svg ellipse {
  fill: var(--color-orange)
}

.is-active svg {
  transform: rotate(45deg);
}

.questions__btn:hover .questions__note {
  color: var(--color-orange);
}

.questions__btn:focus .questions__note {
  color: var(--color-orange);
}

.questions__note {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
  transition: color 0.3s ease-in-out;
}

.questions__paragraph {
  max-width: 1003px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.questions__paragraph:first-child {
  padding: 30px 0 32px 0;
}

.questions__paragraph:last-child {
  padding-bottom: 40px;
}

/*footer*/

.footer {
  background-color: var(--color-black);
  padding: 0 15px;
}

.footer__container {
  display: flex;
  padding: 50px 0px 50px 15px;
}

.footer__wrapper--nav {
  display: flex;
  margin-right: 351px;
  flex-direction: column;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__list {
  display: flex;
  margin-bottom: 91px;
  flex-direction: column;
}

.footer__link {
  white-space: nowrap;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.footer__link:hover {
  color: var(--color-orange);
}

.footer__link:focus {
  outline-color: var(--color-orange);
  outline-offset: 5px;
}

.footer__link:active {
  outline-color: transparent;
  color: #E1670E;
}

.footer__svgs {
  display: flex;
  gap: 25px;
}

.footer__svg-link svg {
  fill: #666;
  transition: fill 0.3s ease-in-out;
}

.footer__svg-link {
  outline: 2px solid transparent;
  transition: outline 0.3s ease-in-out;
}

.footer__svg-link:hover svg {
  fill: var(--color-orange);
}

.footer__svg-link:focus {
  outline-color: var(--color-orange);
  outline-offset: 5px;
}

.footer__svg-link:active {
  outline-color: transparent;
}

.footer__svg-link:active svg {
  fill: #E1670E;
}

.footer__wrapper--form {
  display: flex;
  margin-right: 236px;
  flex-direction: column;
}

.footer__title {
  padding-top: 1px;
  max-width: 408px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__input,
.footer__textarea {
  width: 570px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  background-color: #414141;
  border-radius: 16px;
  border: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer__input {
  height: 60px;
  margin-bottom: 25px;
  padding: 14px 24px;
}

.footer__textarea {
  height: 150px;
  margin-bottom: 32px;
  padding: 14px 24px 104px 24px;
  resize: none;
}

.footer__input:hover,
.footer__textarea:hover,
.footer__input:focus,
.footer__textarea:focus,
.footer__input:active,
.footer__textarea:active {
  background-color: #666;
  outline: none;
}

.footer__input:active,
.footer__textarea:active {
  color: #fff;
}

.footer__btn {
  margin: 0 auto;
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  background-color: var(--color-orange);
  border-radius: 16px;
}

.footer__btn:hover,
.footer__btn:focus {
  background-color: #FFB84D;
}

.footer__btn:active {
  background-color: #E1670E;
}

.footer__paragraph {
  max-width: 363px;
  padding-top: 88px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}