html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --color-white: #fff;
  --color-black: #000;
}

.page {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-width: 320px;
  margin: 0 auto;
}

.container {
  max-width: 3000px;
  margin: 0 auto;
  padding: 0 160px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.paragraph-reset {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.title-reset {
  margin: 0;
  padding: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*header*/

.header {
  position: relative;
  z-index: 3;
}

.header__container {
  display: flex;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 23px;
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: all 0.3s ease-in-out;
}

.header__burger:focus {
  outline-color: var(--color-orange);
}

.header__burger:active {
  outline-color: transparent;
}

.header__burger:active .header__burger-line {
  background-color: #E1670E;
}

.header__burger-line {
  position: absolute;
  width: 28px;
  height: 3.65px;
  background-color: var(--color-white);
  left: 0;
  top: 9px;
  transition: all 0.5s ease-in-out;
}

.header__burger-line:nth-child(1) {
  width: 36px;
  transform: translateY(-9px);
}

.header__burger-line:nth-child(3) {
  width: 24px;
  transform: translateY(10px);
}

.header.burger-open .header__burger-line:nth-child(1) {
  width: 37px;
  transform: translateY(0) rotate(45deg);
}

.header.burger-open .header__burger-line:nth-child(2) {
  opacity: 0;
}

.header.burger-open .header__burger-line:nth-child(3) {
  width: 37px;
  transform: translateY(0) rotate(-45deg);
}

.header__wrapper {
  display: flex;
}

.header__nav {
  margin-right: 50px;
}

.header__list {
  display: flex;
  gap: 62px;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  transition: all 0.3s;
  outline: none;
}

.header__login {
  display: flex;
  align-items: center;
  outline: none;
}

.header__login svg {
  margin-right: 7px;
  fill: var(--color-white);
  transition: all 0.5s;
}

.header__note {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  transition: all 0.5s;
}

.header__search-wrapper {
  display: none;
  position: absolute;
  right: 50px;
  width: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
}

.header__search-wrapper.search-active {
  width: 314px;
}

.header__search-input {
  margin: 0 20px 0 15px;
  padding-bottom: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-white);
}

.header__container--move {
  display: flex;
  top: -70px;
  left: 0;
  right: 0;
  padding-top: 23px;
  padding-bottom: 21px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all .3s ease;
}

.header__container--move.fixed {
  position: fixed;
  transform: translateY(70px);
}

.header__list--second {
  display: flex;
  gap: 97px;
  margin-right: auto;
}

.header__item--second {
  position: relative;
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 3px;
  outline: none;
}

.header__btn svg {
  stroke: var(--color-white);
  transition: all 0.3s;
}

.header__dropdown-list {
  position: absolute;
  top: 48px;
  left: 0;
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

.dropdown-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  margin-right: 19px;
  height: 220px;
  width: 2px;
  background: #000;
}

.simplebar-scrollbar {
  height: 28px !important;
  background-color: #fff;
}


.header__item--second:nth-child(1) .dropdown-list__item:nth-child(1n) .dropdown-list__link {
  background-image: url('../img/header/realism-1.png');
}

.header__item--second:nth-child(1) .dropdown-list__item:nth-child(2n) .dropdown-list__link {
  background-image: url('../img/header/realism-2.png');
}

.header__item--second:nth-child(1) .dropdown-list__item:nth-child(3n) .dropdown-list__link {
  background-image: url('../img/header/realism-3.png');
}

.header__item--second:nth-child(1) .dropdown-list__item:nth-child(4n) .dropdown-list__link {
  background-image: url('../img/header/realism-4.png');
}

.header__item--second:nth-child(2) .dropdown-list__item:nth-child(1n) .dropdown-list__link {
  background-image: url('../img/header/impressionism-1.png');
}

.header__item--second:nth-child(2) .dropdown-list__item:nth-child(2n) .dropdown-list__link {
  background-image: url('../img/header/impressionism-2.png');
}

.header__item--second:nth-child(2) .dropdown-list__item:nth-child(3n) .dropdown-list__link {
  background-image: url('../img/header/impressionism-3.png');
}

.header__item--second:nth-child(2) .dropdown-list__item:nth-child(4n) .dropdown-list__link {
  background-image: url('../img/header/impressionism-4.png');
}

.header__item--second:nth-child(3) .dropdown-list__item:nth-child(1n) .dropdown-list__link {
  background-image: url('../img/header/postimpressionism-1.png');
}

.header__item--second:nth-child(3) .dropdown-list__item:nth-child(2n) .dropdown-list__link {
  background-image: url('../img/header/postimpressionism-2.png');
}

.header__item--second:nth-child(3) .dropdown-list__item:nth-child(3n) .dropdown-list__link {
  background-image: url('../img/header/postimpressionism-3.png');
}

.header__item--second:nth-child(3) .dropdown-list__item:nth-child(4n) .dropdown-list__link {
  background-image: url('../img/header/postimpressionism-4.png');
}

.header__item--second:nth-child(4) .dropdown-list__item:nth-child(1n) .dropdown-list__link {
  background-image: url('../img/header/avangard-1.png');
}

.header__item--second:nth-child(4) .dropdown-list__item:nth-child(2n) .dropdown-list__link {
  background-image: url('../img/header/avangard-2.png');
}

.header__item--second:nth-child(4) .dropdown-list__item:nth-child(3n) .dropdown-list__link {
  background-image: url('../img/header/avangard-3.png');
}

.header__item--second:nth-child(4) .dropdown-list__item:nth-child(4n) .dropdown-list__link {
  background-image: url('../img/header/avangard-4.png');
}

.header__item--second:nth-child(5) .dropdown-list__item:nth-child(1n) .dropdown-list__link {
  background-image: url('../img/header/futurism-1.png');
}

.header__item--second:nth-child(5) .dropdown-list__item:nth-child(2n) .dropdown-list__link {
  background-image: url('../img/header/futurism-2.png');
}

.header__item--second:nth-child(5) .dropdown-list__item:nth-child(3n) .dropdown-list__link {
  background-image: url('../img/header/futurism-3.png');
}

.header__item--second:nth-child(5) .dropdown-list__item:nth-child(4n) .dropdown-list__link {
  background-image: url('../img/header/futurism-4.png');
}

.dropdown-list__link {
  display: block;
  position: relative;
  width: 220px;
  height: 40px;
  padding: 9px 124px 12px 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-white);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
  outline: 1px solid transparent;
}

.header__search {
  display: flex;
  align-items: center;
  gap: 9px;
  outline: none;
}


.header__input {
  padding: 0;
  border: none;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.85);
  transition: all 0.3s;
  outline: none;
}

.header__input::placeholder {
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  line-height: 25px;
}


/*hero*/

.hero__container {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.hero__swiper {
  position: absolute;
  width: 100%;
  height: 800px;
}

.hero__swiper-slide:nth-child(1) {
  background-image: url('../img/hero/hero-1920-1.jpg');
}

.hero__swiper-slide:nth-child(2) {
  background-image: url('../img/hero/hero-1920-2.png');
}

.hero__swiper-slide:nth-child(3) {
  background-image: url('../img/hero/hero-1920-3.png');
}

.hero__swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__text {
  padding: 220px 0 122px 160px;
  position: absolute;
  z-index: 40;
  pointer-events: auto;
}

.hero__title {
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--color-white);
}

.hero__paragraph {
  max-width: 579px;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white);
}

.hero__link {
  padding: 23px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  background-color: #9D5CD0;
  border-radius: 100px;
  border: 3px solid transparent;
  transition: all 0.3s;
}

/*about-us*/
.about-us__container {
  margin-top: 631px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-us__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.about-us__paragraph {
  max-width: 1080px;
}

/*gallery*/

.gallery__container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url('../img/gallery/gallery-1920-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__wrap--left {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-right: 50px;
}

.gallery__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-white);
}

.gallery__label {
  width: max-content;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.gallery__checkbox {
  display: flex;
}

.choices {
  max-width: 400px;
  height: 40px;
  margin-bottom: 100px;
  border: 1px solid white;
  border-radius: 6px;
}

.choices__inner {
  border: none;
  background-color: transparent;
  transition: all 0.3s;
  min-height: 0;
}

.choices__item {
  color: var(--color-white);
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  transition: all 0.3s;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  border-bottom: 1px solid var(--color-white);

}

.choices__list--dropdown {
  border-color: var(--color-white);
  border-bottom: none;
}


.choices__list--dropdown,
.choices__list[aria-expanded] {
  margin: 0;
  background-color: transparent;
  border-color: var(--color-white);
  border-bottom: none;
  border-radius: 6px;
}

.choices[data-type*=select-one]::after {
  right: 16px;
  width: 7px;
  height: 1px;
  background-color: var(--color-white);
  border: none;
  transform: rotate(45deg);
}

.choices[data-type*=select-one]::before {
  content: "";
  width: 7px;
  height: 1px;
  background-color: var(--color-white);
  border: none;
  transform: rotate(-45deg);
  position: absolute;
  right: 11px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open::after {
  transform: rotate(-45deg);
  border: none;
  margin: 0;
}

.choices[data-type*=select-one].is-open::before {
  transform: rotate(45deg);
  border: none;
  margin: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
}


.gallery__select option {
  width: 400px;
  color: var(--color-white);
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.gallery__form {
  display: flex;
  flex-direction: column;
}

.gallery__checkbox {
  user-select: none;
  cursor: pointer;
  outline: none;
}

.gallery__checkbox-input {
  position: absolute;
  appearance: none;
}

.gallery__checkbox-text {
  position: relative;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.gallery__checkbox-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-white);
  transform: translateY(-50%);
}

.gallery__checkbox-text::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #C283F3;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}



.gallery__wrap--right {
  padding-top: 15px;
  width: 75%;
}


.gallery__navigation-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 130px;
  height: 30px;
  margin-bottom: 30px;
}


.gallery__container .swiper-button-next,
.gallery__container .swiper-button-prev {
  position: static;
  width: 30px;
  height: 30px;
  background-color: rgba(102, 102, 102, 1);
  border-radius: 50%;
  outline: 1px solid transparent;
  transition: all 0.3s;
}

.gallery__container .swiper-button-next:after,
.gallery__container .swiper-button-prev:after {
  color: var(--color-black);
  font-size: 7px;
}

.gallery__swiper-pagination {
  color: var(--color-white);
  width: 47px;
  position: static;
}

.gallery__swiper {
  height: 355px;
}

.gallery .swiper-slide {
  position: relative;
  cursor: pointer;
}

.gallery__btn {
  width: 350px;
  height: 385px;

}

.gallery__btn {
  display: flex;
  width: 350px;
  height: 320px;
  margin: 3px 0 3px 3px;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: all 0.3s;
  outline: 3px solid transparent;
}

.gallery__btn::after {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  background-image: url('../img/gallery/gallery-hover-loop.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 81px 79px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.gallery__btn::before {
  position: absolute;
  content: "";
  width: 350px;
  height: 320px;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 5;
}

.gallery .swiper-slide picture {
  margin-top: -37px;
  width: 350px;
  height: 349px;
}

/*POP-UP*/

.gallery__pop-up {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0.4s ease, opacity 0.4s;
  visibility: hidden;
  opacity: 0;
}

.gallery__pop-up.pop-up-open {
  visibility: visible;
  opacity: 1;
}

.pop-up__content {
  position: relative;
  display: flex;
  max-width: 900px;
  height: 500px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  transform: scale(0);
  transition: transform 0.8s ease;
}

.gallery__pop-up.pop-up-open .pop-up__content {
  transform: scale(1);
}

.pop-up-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.pop-up-close svg {
  fill: var(--color-black);
  transition: all 0.3s;
}

.pop-up__content picture {
  width: 100%;
  height: 100%;
}

.pop-up__text-wrapper {
  display: flex;
  max-width: 500px;
  padding: 121px 50px 121px 48px;
  flex-direction: column;
}

.pop-up__note--name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.pop-up__note--art {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.pop-up__note--year {
  margin-bottom: 39px;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.pop-up__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

/*catalog*/

.catalog__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.catalog__title {
  font-weight: 400;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.catalog__paragraph {
  max-width: 1080px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.catalog__wrapper {
  display: flex;
  gap: 50px;
}

.catalog__wrapper--left {
  display: none;
}

.catalog-active {
  display: block;
}

.catalog__img--first img {
  margin-bottom: 30px;
}

.catalog__subtitle__name1 {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.catalog__note--date1 {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.catalog__man-info1 {
  max-width: 750px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.catalog__picture img {
  margin-bottom: 30px;
}

.catalog__subtitle {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.catalog__subparagraph {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.catalog__gallery-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0;
}

.catalog__wrapper--right {
  width: 50%;
}

.accordion__list {
  display: flex;
  flex-direction: column;
  column-gap: 18px;
  max-height: 349px;
  flex-wrap: wrap;
  padding: 25px 0;
}

.accordion__item {
  margin-bottom: -1px;
}

.accordion .accordion__btn {
  display: flex;
  width: 100%;
  padding: 32px 0;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  outline: none;
}

.accordion__year {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  transition: all 0.3s;
}

.accordion__circle {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  border-radius: 50%;
  transition: all 0.3s;
}

.accordion__circle::before {
  position: absolute;
  content: "";
  top: 25px;
  left: 15px;
  width: 12px;
  height: 1px;
  transform: rotate(45deg);
  background-color: var(--color-black);
}

.accordion__circle::after {
  position: absolute;
  content: "";
  top: 25px;
  right: 15px;
  width: 12px;
  height: 1px;
  transform: rotate(-45deg);
  background-color: var(--color-black);
}



.accordion__link--name {
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  outline: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.accordion__content--wrapper {
  display: flex;
  gap: 24px;
  padding: 25px 0;
}

.accordion__square--big {
  display: flex;
  width: 275px;
  height: 189px;
  align-items: center;
  justify-content: center;
  border: 2px solid #999999;

}

.accordion__square--small {
  width: 251px;
  height: 165px;
  background-color: #999999;
}

.accordion__text-wrapper {
  padding-top: 41px;
}

.accordion__note {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.accordion__paragraph {
  max-width: 275px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.accordion__link--gallery {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0;
  outline: none;
  transition: all 0.3s;
}


/*EVENTS*/

.events__container {
  padding-bottom: 80px;
}

.events__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.events__swiper {
  width: 101%;
  height: 705px;
}

.events .events__swiper-slide {

  max-height: 698px;

}

.events .swiper-button-next,
.events .swiper-button-prev {
  width: 50px;
  height: 50px;
  right: 0;
  color: var(--color-black);
  background-color: #ECECEC;
  border-radius: 50px;
}

.events .swiper-button-next:after,
.events .swiper-button-prev:after {
  font-size: 15px;
}

.events .swiper-button-next.swiper-button-disabled,
.events .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.events .swiper-pagination {
  display: none;
}

.events .swiper-pagination-bullet-active {
  background-color: rgba(102, 102, 102, 1);
}

.events__swiper-slide:nth-child(1) .events__content {
  background-image: url('../img/events/events-1920-1.png');
}

.events__swiper-slide:nth-child(2) .events__content {
  background-image: url('../img/events/events-1920-2.png');
}

.events__swiper-slide:nth-child(3) .events__content {
  background-image: url('../img/events/events-1920-3.png');
}

.events__swiper-slide:nth-child(4) .events__content {
  background-image: url('../img/events/events-1920-4.png');
}

.events__swiper-slide:nth-child(5) .events__content {
  background-image: url('../img/events/events-1920-5.png');
}


.events__content {
  display: flex;
  min-height: 337px;
  max-width: 400px;
  padding: 313px 50px 50px 50px;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 300px;
  border: 1px solid rgba(202, 202, 202, 1);
}

.events__notes {
  display: flex;
  flex-direction: column;
}

.events__note---first,
.events__note--second {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.events__card-title {
  max-width: 400px;
  margin-bottom: 10px;
  margin-top: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.events__paragraph {
  max-width: 400px;
  margin-bottom: auto;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.events__link {
  width: max-content;
  min-height: 34px;
  font-size: 16px;
  line-height: 32px;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  outline: none;
  transition: all 0.3s;
}

/*PROJECTS*/

.projects__container {
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(202, 202, 202, 1);
}

.projects__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.projects__paragraph {
  max-width: 1080px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.projects__subtitle {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.projects__swiper-container {
  position: relative;
}

.projects__swiper {
  height: 150px;
}


.projects .swiper-button-next,
.projects .swiper-button-prev {
  width: 30px;
  height: 30px;
  color: var(--color-black);
  background-color: #ECECEC;
  border-radius: 50px;
}


.projects .swiper-button-next:after,
.projects .swiper-button-prev:after {
  font-size: 10px;
}

.projects .swiper-button-prev {
  left: 0;
  top: 80px;
}

.projects .swiper-button-next {
  right: 0;
  top: 80px;
}




.projects__swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__link {
  max-width: 450px;
  padding: 70px 225px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  transition: all 0.3s;
  border: 1px solid rgba(202, 202, 202, 1);
  outline: 1px solid transparent;
}


.projects__swiper-slide:nth-child(1) .projects__link {
  background-image: url('../img/projects/projects-1.svg');
  background-size: 244px 63px;
}

.projects__swiper-slide:nth-child(1) .projects__link:hover {
  background-image: url('../img/projects/projects-1-hover.svg');

}

.projects__swiper-slide:nth-child(2) .projects__link {
  background-image: url('../img/projects/projects-2.svg');
  background-size: 330px 59px;
}

.projects__swiper-slide:nth-child(2) .projects__link:hover {
  background-image: url('../img/projects/projects-2-hover.svg');

}

.projects__swiper-slide:nth-child(3) .projects__link {
  background-image: url('../img/projects/projects-3.svg');
  background-size: 229px 54px;
}

.projects__swiper-slide:nth-child(3) .projects__link:hover {
  background-image: url('../img/projects/projects-3-hover.svg');
}

.projects__swiper-slide:nth-child(4) .projects__link {
  background-image: url('../img/projects/projects-4.svg');
  background-size: 123px 85px;
}

.projects__swiper-slide:nth-child(4) .projects__link:hover {
  background-image: url('../img/projects/projects-4-hover.svg');

}

.projects__swiper-slide:nth-child(5) .projects__link {
  background-image: url('../img/projects/projects-5.svg');
  background-size: 173px 85px;

}

.projects__swiper-slide:nth-child(5) .projects__link:hover {
  background-image: url('../img/projects/projects-5-hover.svg');
}

.projects__swiper-slide:nth-child(6) .projects__link {
  background-image: url('../img/projects/projects-6.svg');
  background-size: 252px 70px;
}

.projects__swiper-slide:nth-child(6) .projects__link:hover {
  background-image: url('../img/projects/projects-6-hover.svg');

}

.projects__swiper-slide:nth-child(7) .projects__link {
  background-image: url('../img/projects/projects-7.svg');
  background-size: 286px 69px;
}

.projects__swiper-slide:nth-child(7) .projects__link:hover {
  background-image: url('../img/projects/projects-7-hover.svg');
}

.projects__swiper-slide:nth-child(8) .projects__link {
  background-image: url('../img/projects/projects-8.svg');
  background-size: 185px 81px;
}

.projects__swiper-slide:nth-child(8) .projects__link:hover {
  background-image: url('../img/projects/projects-8-hover.svg');
}

.projects__swiper-slide:nth-child(9) .projects__link {
  background-image: url('../img/projects/projects-9.svg');
  background-size: 229px 62px;
}

.projects__swiper-slide:nth-child(9) .projects__link:hover {
  background-image: url('../img/projects/projects-9-hover.svg');
}

/*CONTACTS*/

.contacts__container {
  padding: 38px 160px;
  border-bottom: 1px solid rgba(202, 202, 202, 1);
}

.contacts__title {
  opacity: 0;
  visibility: hidden;
}

.contacts__wrapper--top {
  display: flex;
  column-gap: 60px;
  row-gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}

.contacts__adress {
  display: flex;
  flex-direction: column;
}

.contacts__adress--first {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.contacts__adress--second {
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.contacts__form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contacts__input-wrapper {
  position: relative;
}

.contacts__name-input,
.contacts__tel-input {
  width: 270px;
  height: 50px;
  padding-left: 24px;
  border: 1px solid #333333;
  border-radius: 100px;
  transition: all 0.3s;
  outline: none;
}

.just-validate-error-field {
  border-color: #D11616;
}

.just-validate-error-label {
  position: absolute;
  top: -26px;
  left: 24px;
}

.contacts__btn,
.contacts__btn--2 {
  padding: 13px 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #9D5CD0;
  border: 1px solid transparent;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  transition: all 0.3s;
}

.contacts__btn--2 {
  display: none;
}

.contacts__links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.contacts__note {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.contacts__svgs {
  display: flex;
  gap: 21px;
}

.contacts__link {
  position: relative;
  outline: none;
}

.contacts__link::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

}

/*MAP*/

.map__container {
  height: 700px;
  width: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--color-black);
}

.footer__svgs {
  display: flex;
  gap: 20px;
}



.footer__link svg {
  fill: #cacaca;
  transition: all 0.3s;
}







/*
.block {
  width: 1000px;
  height: 500px;
  background-color: aqua;
}