:root {
  --color-white: #fff;
  --color-black: #000;
}

.header__link:focus {
  background-color: #7943A4;
}

.header__link:hover {
  color: #C283F3;
}

.header__link:active {
  color: #7943A4;
  background-color: transparent;
}

.header__login:focus {
  background-color: #7943A4;
}

.header__login:active {
  background-color: transparent;
}

.header__login:hover .header__note {
  color: #C283F3;
}

.header__login:active .header__note {
  color: #9D5CD0;
  background-color: transparent;
}


.header__login:hover svg {
  fill: #C283F3;
}

.header__login:active svg {
  fill: #9D5CD0;
}

.header__btn:focus {
  background-color: #7943A4;
}

.header__btn:active {
  background-color: transparent;
}



.header__btn:hover .header__note {
  color: #9D5CD0;
  background-color: transparent;
}

.header__btn:active .header__note {
  color: #7943A4;
  background-color: transparent;
}

.header__btn:focus svg {
  transform: rotate(180deg);
}

.header__btn:hover svg {
  stroke: #C283F3;
}

.header__btn:active svg {
  stroke: #9D5CD0;
}

.header__search:focus .header__input {
  border-color: #C283F3;
}

.header__search:hover .header__input {
  border-color: #C283F3;
}

.header__search:active .header__input {
  border-color: #7943A4;
}

.dropdown-list__link:focus,
.dropdown-list__link:hover {
  outline-color: #9D5CD0;
}

.dropdown-list__link:active::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);

}

.hero__link:hover {
  border-color: #D1A9F0;
  outline-offset: -1px;
}

.hero__link:focus {
  outline-color: #D1A9F0;
  outline-offset: 5px;
}

.hero__link:active {
  outline-offset: -1px;
  outline-color: #D1A9F0;
  background-color: #7943A4;
}

.choices__inner:focus {
  background-color: transparent;
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__inner:active {
  background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable:focus,
.choices__list[aria-expanded] .choices__item--selectable:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable:hover,
.choices__list[aria-expanded] .choices__item--selectable:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable:active,
.choices__list[aria-expanded] .choices__item--selectable:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__checkbox:focus .gallery__checkbox-text {
  color: #C283F3;
}

.gallery__checkbox:focus .gallery__checkbox-text::before {
  border-color: #C283F3;
}

.gallery__checkbox:hover .gallery__checkbox-text::before {
  border-color: #C283F3;
}

.gallery__checkbox-input:checked+.gallery__checkbox-text {
  color: #C283F3;
}

.gallery__checkbox-input:checked+.gallery__checkbox-text::after {
  opacity: 1;
}

.gallery__checkbox-input:checked+.gallery__checkbox-text::before {
  border-color: #C283F3;
}

.swiper-button-next:focus {
  outline-color: #9D5CD0;
}

.swiper-button-next:hover {
  background-color: #D1A9F0;
}

.swiper-button-next:active {
  outline-color: #9D5CD0;
  background-color: #D1A9F0;
}

.swiper-button-prev:focus {
  outline-color: #9D5CD0;
}

.swiper-button-prev:hover {
  background-color: #D1A9F0;
}

.swiper-button-prev:active {
  outline-color: #9D5CD0;
  background-color: #D1A9F0;
}

.pop-up-close:focus svg {
  fill: #9D5CD0;
}

.pop-up-close:hover svg {
  fill: #9D5CD0;
}

.pop-up-close:active svg {
  fill: #7943A4;
}

.gallery__btn:focus {
  outline-color: #9D5CD0;
}

.gallery__btn:hover::after {
  visibility: visible;
  opacity: 1;
}

.gallery__btn:active::before {
  opacity: 1;
  visibility: visible;
}


.accordion__btn:focus .accordion__year {
  color: var(--color-white);
  background-color: #9D5CD0;
}

.accordion__btn:focus .accordion__circle,
.accordion__btn:hover .accordion__circle,
.accordion__btn:active .accordion__circle {
  background-color: #D1A9F0;
}

.accordion__btn:hover {
  border-color: #9D5CD0;
  z-index: 5;
}

.accordion__btn:hover .accordion__year {
  background-color: transparent;
  color: #9D5CD0;
}

.accordion__btn:active {
  border-color: #7943A4;
  z-index: 5;
}

.accordion .accordion__item .accordion__btn:active .accordion__year {
  background-color: transparent;
  color: #7943A4;
}

.accordion__btn:active .accordion__circle {
  border: 1px solid #9D5CD0;
}

.accordion__item.is-active .accordion__btn {
  border-color: #7943A4;
  z-index: 5;
}

.accordion .accordion__item.is-active .accordion__year {
  background-color: transparent;
  color: #7943A4;
}

.accordion__item.is-active .accordion__circle {
  transform: rotate(180deg);
  border: 1px solid #9D5CD0;
  background-color: #D1A9F0;
}

.accordion__link--name:focus {
  background-color: #9D5CD0;
}

.accordion__link--name:hover {
  border-color: #9D5CD0;
}

.accordion__link--name:active {
  background-color: transparent;
  border-color: transparent;
}

.accordion__link--gallery:focus,
.catalog__gallery-link:focus {
  background-color: #9D5CD0;
  color: var(--color-white);
}

.accordion__link--gallery:hover,
.catalog__gallery-link:hover {
  color: #7943A4;
}

.accordion__link--gallery:active,
.catalog__gallery-link:active {
  color: var(--color-black);
  background-color: transparent;
}

.events__link:focus {
  background-color: #9D5CD0;
  color: var(--color-white);
  border-color: var(--color-white);
}

.events__link:hover {
  background-color: transparent;
  border-color: #7943A4;
  color: #7943A4;
}

.events__link:active {
  color: var(--color-black);
  background-color: transparent;
  border-color: var(--color-black);
}

.projects__link:focus,
.projects__link:active {
  outline-color: #9D5CD0;
}

.contacts__name-input:hover,
.contacts__tel-input:hover {
  background-color: #ECECEC;
  border-color: var(--color-black);
}

.contacts__name-input:focus,
.contacts__tel-input:focus {
  background-color: var(--color-white);

}

.contacts__name-input:active,
.contacts__tel-input:active {
  background-color: var(--color-white);
}

.contacts__btn:focus,
.contacts__btn--2:focus {

  border-color: #D1A9F0;
  outline-offset: -1px;
  outline-offset: 5px;
}

.contacts__btn:hover,
.contacts__btn--2:hover {
  color: var(--color-white);
  background-color: #9D5CD0;
  border-color: #D1A9F0;
  outline-offset: 0;
}

.contacts__btn:active,
.contacts__btn--2:active {
  outline: none;
  outline-offset: 0px;
  border-color: #D1A9F0;
  background-color: #7943A4;
}



.contacts__link:focus::after,
.contacts__link:hover::after {
  opacity: 1;
  visibility: visible;
}

.contacts__link:active::after {
  outline: 1px solid #9D5CD0;
}



.footer__link:focus svg,
.footer__link:hover svg {
  fill: var(--color-white);
}

.footer__link:active svg {
  fill: #9D5CD0;
}